{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://roleva",
      "useLocalAssets": true
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/roleva.mvacademy.ru/hd-spec-webinar",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2022-03-21T13:33:01.809Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2022-03-21T13:33:02.365Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1648640532479.443,
          "date": "2022-03-30T11:53:38.781Z"
        },
        {
          "file": "fonts/FreeSetExtraCTTRegular.eot",
          "mtimeMs": 1647752314000,
          "date": "2022-03-21T13:33:05.745Z"
        },
        {
          "file": "fonts/FreeSetExtraCTTRegular.svg",
          "mtimeMs": 1647752314000,
          "date": "2022-03-21T13:33:06.336Z"
        },
        {
          "file": "fonts/FreeSetExtraCTTRegular.ttf",
          "mtimeMs": 1647784827591.833,
          "date": "2022-03-21T13:33:06.968Z"
        },
        {
          "file": "fonts/FreeSetExtraCTTRegular.woff",
          "mtimeMs": 1647752314000,
          "date": "2022-03-21T13:33:07.519Z"
        },
        {
          "file": "fonts/FreeSetExtraCTTRegular.woff2",
          "mtimeMs": 1647752316000,
          "date": "2022-03-21T13:33:08.111Z"
        },
        {
          "file": "fonts/RobotoBlack.eot",
          "mtimeMs": 1550719224000,
          "date": "2022-03-21T13:33:08.817Z"
        },
        {
          "file": "fonts/RobotoBlack.svg",
          "mtimeMs": 1550719224000,
          "date": "2022-03-21T13:33:09.818Z"
        },
        {
          "file": "fonts/RobotoBlack.ttf",
          "mtimeMs": 1550719224000,
          "date": "2022-03-21T13:33:10.468Z"
        },
        {
          "file": "fonts/RobotoBlack.woff",
          "mtimeMs": 1550719224000,
          "date": "2022-03-21T13:33:11.080Z"
        },
        {
          "file": "fonts/RobotoBlack.woff2",
          "mtimeMs": 1550719226000,
          "date": "2022-03-21T13:33:11.724Z"
        },
        {
          "file": "fonts/RobotoLight.eot",
          "mtimeMs": 1550719246000,
          "date": "2022-03-21T13:33:12.338Z"
        },
        {
          "file": "fonts/RobotoLight.svg",
          "mtimeMs": 1550719246000,
          "date": "2022-03-21T13:33:13.210Z"
        },
        {
          "file": "fonts/RobotoLight.ttf",
          "mtimeMs": 1550719246000,
          "date": "2022-03-21T13:33:13.853Z"
        },
        {
          "file": "fonts/RobotoLight.woff",
          "mtimeMs": 1550719246000,
          "date": "2022-03-21T13:33:14.417Z"
        },
        {
          "file": "fonts/RobotoLight.woff2",
          "mtimeMs": 1550719246000,
          "date": "2022-03-21T13:33:15.014Z"
        },
        {
          "file": "fonts/RobotoMedium.eot",
          "mtimeMs": 1647752380000,
          "date": "2022-03-21T13:33:15.667Z"
        },
        {
          "file": "fonts/RobotoMedium.svg",
          "mtimeMs": 1647752380000,
          "date": "2022-03-21T13:33:16.403Z"
        },
        {
          "file": "fonts/RobotoMedium.ttf",
          "mtimeMs": 1647752380000,
          "date": "2022-03-21T13:33:17.050Z"
        },
        {
          "file": "fonts/RobotoMedium.woff",
          "mtimeMs": 1647752380000,
          "date": "2022-03-21T13:33:17.621Z"
        },
        {
          "file": "fonts/RobotoMedium.woff2",
          "mtimeMs": 1647752380000,
          "date": "2022-03-21T13:33:18.210Z"
        },
        {
          "file": "fonts/RobotoRegular.eot",
          "mtimeMs": 1590207359791.0173,
          "date": "2022-03-21T13:33:18.893Z"
        },
        {
          "file": "fonts/RobotoRegular.svg",
          "mtimeMs": 1590207363046.2478,
          "date": "2022-03-21T13:33:19.674Z"
        },
        {
          "file": "fonts/RobotoRegular.ttf",
          "mtimeMs": 1590207359200.101,
          "date": "2022-03-21T13:33:20.351Z"
        },
        {
          "file": "fonts/RobotoRegular.woff",
          "mtimeMs": 1590207362943.111,
          "date": "2022-03-21T13:33:21.145Z"
        },
        {
          "file": "fonts/RobotoRegular.woff2",
          "mtimeMs": 1590207363572.0654,
          "date": "2022-03-21T13:33:21.772Z"
        },
        {
          "file": "fonts/UbuntuLight.eot",
          "mtimeMs": 1647752392000,
          "date": "2022-03-21T13:33:22.640Z"
        },
        {
          "file": "fonts/UbuntuLight.svg",
          "mtimeMs": 1647752392000,
          "date": "2022-03-21T13:33:23.309Z"
        },
        {
          "file": "fonts/UbuntuLight.ttf",
          "mtimeMs": 1647752392000,
          "date": "2022-03-21T13:33:23.974Z"
        },
        {
          "file": "fonts/UbuntuLight.woff",
          "mtimeMs": 1647752392000,
          "date": "2022-03-21T13:33:24.597Z"
        },
        {
          "file": "fonts/UbuntuLight.woff2",
          "mtimeMs": 1647752392000,
          "date": "2022-03-21T13:33:25.559Z"
        },
        {
          "file": "fonts/UbuntuMedium.eot",
          "mtimeMs": 1647752406000,
          "date": "2022-03-21T13:33:26.229Z"
        },
        {
          "file": "fonts/UbuntuMedium.svg",
          "mtimeMs": 1647752406000,
          "date": "2022-03-21T13:33:27.211Z"
        },
        {
          "file": "fonts/UbuntuMedium.ttf",
          "mtimeMs": 1647752406000,
          "date": "2022-03-21T13:33:27.894Z"
        },
        {
          "file": "fonts/UbuntuMedium.woff",
          "mtimeMs": 1647752406000,
          "date": "2022-03-21T13:33:28.550Z"
        },
        {
          "file": "fonts/UbuntuMedium.woff2",
          "mtimeMs": 1647752406000,
          "date": "2022-03-21T13:33:29.141Z"
        },
        {
          "file": "img/backs/author.png",
          "mtimeMs": 1647788695604.2017,
          "date": "2022-03-21T13:33:30.009Z"
        },
        {
          "file": "img/icons/check.png",
          "mtimeMs": 1647785710141.1858,
          "date": "2022-03-21T13:33:30.640Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1647777393030.586,
          "date": "2022-03-21T13:33:31.456Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1647771917062.5752,
          "date": "2022-03-21T13:33:33.793Z"
        },
        {
          "file": "img/images/footer-logo.png",
          "mtimeMs": 1648640233784.2239,
          "date": "2022-03-30T11:53:39.869Z"
        },
        {
          "file": "img/images/header-logo.png",
          "mtimeMs": 1648640151127.0898,
          "date": "2022-03-30T11:53:40.624Z"
        },
        {
          "file": "img/images/helps.png",
          "mtimeMs": 1647788733449.492,
          "date": "2022-03-21T13:33:37.662Z"
        },
        {
          "file": "img/images/main.png",
          "mtimeMs": 1647788737465.3787,
          "date": "2022-03-21T13:33:38.586Z"
        },
        {
          "file": "img/images/unics.png",
          "mtimeMs": 1647788741839.0583,
          "date": "2022-03-21T13:33:39.324Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1647783828357.1555,
          "date": "2022-03-21T13:33:40.703Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1647790937197.0764,
          "date": "2022-03-21T13:33:41.767Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1648889964297.2224,
          "date": "2022-04-11T12:07:02.806Z"
        },
        {
          "file": "img/icons/gmail.png",
          "mtimeMs": 1614319639699.2766,
          "date": "2022-03-21T13:33:32.074Z"
        },
        {
          "file": "img/icons/mailru.png",
          "mtimeMs": 1614319641390.2866,
          "date": "2022-03-21T13:33:32.643Z"
        },
        {
          "file": "img/icons/yahoo.png",
          "mtimeMs": 1614319643462.0012,
          "date": "2022-03-21T13:33:34.314Z"
        },
        {
          "file": "img/icons/yandex.png",
          "mtimeMs": 1614319645635.6538,
          "date": "2022-03-21T13:33:34.840Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1648641183583.1975,
          "date": "2022-03-30T11:53:38.171Z"
        },
        {
          "file": "img/icons/tg-prom.png",
          "mtimeMs": 1614333463140.3147,
          "date": "2022-03-21T13:33:33.208Z"
        },
        {
          "file": "img/images/anya.png",
          "mtimeMs": 1647858730105.4568,
          "date": "2022-03-21T13:33:35.487Z"
        },
        {
          "file": "promo/index.php",
          "mtimeMs": 1649682328903.6072,
          "date": "2022-04-11T13:32:28.902Z"
        },
        {
          "file": "img/images/stat.png",
          "mtimeMs": 1648230774799.678,
          "date": "2022-03-25T18:05:56.353Z"
        },
        {
          "file": "img/logo.svg",
          "mtimeMs": 1648639028240.2046,
          "date": "2022-03-30T11:53:39.317Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1649749696188.6418,
          "date": "2022-04-12T07:53:52.440Z"
        },
        {
          "file": "confirm/index.php",
          "mtimeMs": 1649682610526.577,
          "date": "2022-04-11T13:32:27.944Z"
        },
        {
          "file": "date/date.php",
          "mtimeMs": 1648642957131.625,
          "date": "2022-03-30T12:22:43.827Z"
        },
        {
          "file": "2/index.php",
          "mtimeMs": 1640590561381.2112,
          "date": "2022-04-11T13:18:36.827Z"
        },
        {
          "file": "confirm-2/index.php",
          "mtimeMs": 1640590552827.452,
          "date": "2022-04-11T13:32:28.431Z"
        },
        {
          "file": "promo-2/index.php",
          "mtimeMs": 1640590543179.5168,
          "date": "2022-04-11T13:32:29.351Z"
        },
        {
          "file": "2/scripts/body-bottom.php",
          "mtimeMs": 1614602452363.5515,
          "date": "2022-04-11T13:18:37.489Z"
        },
        {
          "file": "2/scripts/body-top.php",
          "mtimeMs": 1640590635712.1018,
          "date": "2022-04-11T13:18:38.058Z"
        },
        {
          "file": "2/scripts/head-bottom.php",
          "mtimeMs": 1640163590914.3535,
          "date": "2022-04-11T13:32:26.488Z"
        },
        {
          "file": "2/scripts/head-top.php",
          "mtimeMs": 1614602452429.5105,
          "date": "2022-04-11T13:32:26.999Z"
        },
        {
          "file": "2/scripts/vars.php",
          "mtimeMs": 1649684328912.3984,
          "date": "2022-04-11T13:38:55.118Z"
        },
        {
          "file": "templates/confirm.php",
          "mtimeMs": 1649682867987.4426,
          "date": "2022-04-11T13:32:29.779Z"
        },
        {
          "file": "templates/course.php",
          "mtimeMs": 1649857121384.0498,
          "date": "2022-04-13T13:40:07.196Z"
        },
        {
          "file": "templates/promo.php",
          "mtimeMs": 1649682445021.746,
          "date": "2022-04-11T13:32:30.635Z"
        },
        {
          "file": "templates/template.php",
          "mtimeMs": 1649750026884.5486,
          "date": "2022-04-12T07:53:52.921Z"
        },
        {
          "file": "templates/chats/chat.php",
          "mtimeMs": 1649681766709.18,
          "date": "2022-04-11T13:32:31.602Z"
        },
        {
          "file": "templates/footer/footer.php",
          "mtimeMs": 1649682569679.7922,
          "date": "2022-04-11T13:32:32.064Z"
        },
        {
          "file": "templates/header/header.php",
          "mtimeMs": 1649682530918.9062,
          "date": "2022-04-11T13:32:32.515Z"
        },
        {
          "file": "templates/scripts/body-bottom.php",
          "mtimeMs": 1608027550971.9155,
          "date": "2022-04-11T13:32:32.960Z"
        },
        {
          "file": "templates/scripts/body-top.php",
          "mtimeMs": 1630667871592.5034,
          "date": "2022-04-11T13:32:33.456Z"
        },
        {
          "file": "templates/scripts/head-bottom.php",
          "mtimeMs": 1649681961776.9631,
          "date": "2022-04-11T13:32:33.920Z"
        },
        {
          "file": "templates/scripts/head-top.php",
          "mtimeMs": 1630665141492.5925,
          "date": "2022-04-11T13:32:34.374Z"
        },
        {
          "file": "templates/scripts/vars.php",
          "mtimeMs": 1649857157195.516,
          "date": "2022-04-13T13:40:07.711Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1649856258865.573,
          "date": "2022-04-13T13:24:35.509Z"
        },
        {
          "file": "js/course-libs.min.js",
          "mtimeMs": 1649847784966.904,
          "date": "2022-04-13T11:33:53.975Z"
        },
        {
          "file": "js/course.js",
          "mtimeMs": 1649848715435.4907,
          "date": "2022-04-13T11:33:54.511Z"
        },
        {
          "file": "course/index.php",
          "mtimeMs": 1649857143185.8079,
          "date": "2022-04-13T13:40:06.686Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course-libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\course-libs.min.js"
        }
      },
      {
        "file": "_app/_js/course.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\course.js"
        }
      },
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/confirm.pug",
        "config": {
          "customOutput": "_app\\confirm.php"
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "_app\\course.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "_app\\template.php"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "_app\\promo.php"
        }
      },
      {
        "file": "_app/styl/confirm.min.styl",
        "config": {
          "customOutput": "css\\confirm.min.css"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
