header
	.container
		a(href="https://mastervision.su", target="_blank")
			+imgs('header-logo', 'img/images/header-logo.png', 'Логотип')
		.contacts
			a.contact.contact-tg(href="https://t.me/Master_Vision_Academy" target="_blank")
				+imgs('', 'img/icons/tg.png', 'Telegram')
			a.contact.contact-email(href="mailto:info@mastervision.su" target="_blank")
				+imgs('', 'img/icons/envelope.png', 'Email')