@import 'base/1-fonts'

@import '../_css/bootstrap-2.min.css'
@import '../_css/slick.css'
@import '../_css/slick-theme.css'

@import 'base/2-base'

@import 'base/3-header'

@import 'course/1-main'
@import 'main/2-reqs'
@import 'main/4-helps'
@import 'main/5-stat'
@import 'course/5-plan'
@import 'course/6-prices'
@import 'main/6-why'
@import 'main/7-author'
@import 'base/4-footer'