@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/popup.css'

@import 'base/2-base'

@import 'base/3-header'

@import 'main/1-main'
@import 'main/2-reqs'
@import 'main/3-unic'
@import 'main/4-helps'
@import 'main/5-why'
@import 'main/6-author'
@import 'base/4-footer'
@import 'main/7-modal'