#main
	padding 40px 0 100px
.main
	&-title
		font-family: F
		font-size: 50px
		font-weight: 900
		line-height: 130%
		margin-bottom: 90px
	&-info
		p
			font-size: 34px
			font-weight: 300
			display inline-block
			line-height: 45px
			&:last-of-type
				margin-left: 45px
				padding-left: 45px
				border-left: 5px solid #000
	&-text
		font-size: 34px
		font-weight: 500
		margin 120px 0 15px
	&-img
		position absolute
		top 0
		right 0