#queries
	padding 100px 0
.query-item
	position relative
	padding-left: 100px
	width 100%
	max-width 500px
	margin: 90px auto 45px
	&:before
		content: ''
		display block
		position absolute
		width 220px
		height: 220px
		border-radius: 50%
		border: 18px solid rgba(228, 132, 90, 0.5);
		top -80px
		left 10px
	&-title
		position relative
		font-size: 40px
		font-weight: 900
		margin-bottom: 35px
		padding-bottom: 30px
		&:before
			content: ''
			display block
			position absolute
			width 88px
			height 5px
			background-color: #000
			left 0
			bottom: 0