#unics
	padding 150px 0
	@media screen and (max-width 991px)
		padding 50px 0
.unics-list
	margin-bottom: 130px
	width 50%
	@media screen and (max-width 991px)
		width 100%
		margin-bottom: 50px
	li
		list-style: none
		margin-bottom: 30px
		position relative
		padding-left: 20px
		&:before
			content: ''
			display block
			position absolute
			border-radius: 50%
			background-color: #E4845A
			width 36px
			height: 36px
			top -5px
			left 0
			z-index -1
			@media screen and (max-width 560px)
				top -9px
		@media screen and (max-width 386px)
			padding-left: 0
			margin-bottom: 20px
			&:before
				width 30px
				height: 30px
				top -5px
				left -13px
.unics-img
	position absolute
	top 45px
	right 0
	z-index -1
	width 44%
	// @media screen and (max-width 1199px)
	// 	right -100px
	@media screen and (max-width 991px)
		position: static
		display block
		width 100%
		max-width 714px
		margin 50px 0 0