#helps
	padding 90px 0
	@media screen and (max-width 991px)
		padding 50px 0
	@media screen and (max-width 386px)
		padding 30px 0
.helps-img
	width 100%
	@media screen and (max-width 991px)
		max-width 676px
.general-list-helps
	margin-top: 60px
.helps-aftertitle
	font-family: F
	font-size: 50px
	line-height: 130%
	margin 70px 0
	@media screen and (max-width 991px)
		font-size: 32px
		margin 50px 0
	@media screen and (max-width 386px)
		font-size: 22px
		margin 35px 0