#author
	padding 50px 0 120px
	background-color: #D2D2D2
	background-image: url(../img/backs/author.png)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.author-title
	position relative
	font-size: 35px
	font-weight: 500
	margin-bottom: 50px
	padding-bottom: 50px
	&:before
		content: ''
		display block
		position absolute
		width 100px
		height: 5px
		background-color: #000
		left 0
		bottom: 0
.button-wrapper-author
	margin-top: 200px