F = 'FreeSetExtraCTT', sans-serif;
R = 'Roboto', sans-serif;
U = 'Ubuntu', sans-serif;

@font-face
	font-family: 'FreeSetExtraCTT';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/FreeSetExtraCTTRegular.eot');
	src: url('../fonts/FreeSetExtraCTTRegular.eot') format('embedded-opentype'),url('../fonts/FreeSetExtraCTTRegular.woff2') format('woff2'),url('../fonts/FreeSetExtraCTTRegular.woff') format('woff'),url('../fonts/FreeSetExtraCTTRegular.ttf') format('truetype'),aurl('../fonts/FreeSetExtraCTTRegular.svg#FreeSetExtraCTTRegular') format('svg');
@font-face
	font-family: 'Roboto';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/RobotoLight.eot');
	src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),url('../fonts/RobotoLight.woff2') format('woff2'),url('../fonts/RobotoLight.woff') format('woff'),url('../fonts/RobotoLight.ttf') format('truetype'),aurl('../fonts/RobotoLight.svg#RobotoLight') format('svg');
@font-face
	font-family: 'Roboto';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoRegular.eot');
	src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),url('../fonts/RobotoRegular.woff2') format('woff2'),url('../fonts/RobotoRegular.woff') format('woff'),url('../fonts/RobotoRegular.ttf') format('truetype'),aurl('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
@font-face
	font-family: 'Roboto';
	font-display: fallback;
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/RobotoMedium.eot');
	src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),url('../fonts/RobotoMedium.woff2') format('woff2'),url('../fonts/RobotoMedium.woff') format('woff'),url('../fonts/RobotoMedium.ttf') format('truetype'),url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
@font-face
	font-family: 'RobotoMedium';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/RobotoBlack.eot');
	src: url('../fonts/RobotoBlack.eot') format('embedded-opentype'),url('../fonts/RobotoBlack.woff2') format('woff2'),url('../fonts/RobotoBlack.woff') format('woff'),url('../fonts/RobotoBlack.ttf') format('truetype'),url('../fonts/RobotoBlack.svg#RobotoBlack') format('svg');
@font-face
	font-family: 'Ubuntu';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/UbuntuLight.eot');
	src: url('../fonts/UbuntuLight.eot') format('embedded-opentype'),url('../fonts/UbuntuLight.woff2') format('woff2'),url('../fonts/UbuntuLight.woff') format('woff'),url('../fonts/UbuntuLight.ttf') format('truetype'),url('../fonts/UbuntuLight.svg#UbuntuLight') format('svg');
@font-face
	font-family: 'Ubuntu';
	font-display: fallback;
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/UbuntuMedium.eot');
	src: url('../fonts/UbuntuMedium.eot') format('embedded-opentype'),url('../fonts/UbuntuMedium.woff2') format('woff2'),url('../fonts/UbuntuMedium.woff') format('woff'),url('../fonts/UbuntuMedium.ttf') format('truetype'),url('../fonts/UbuntuMedium.svg#UbuntuMedium') format('svg');