header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
.header-logo
	float left
	margin-top: 8px
	width 150px
	@media screen and (max-width 991px)
		margin-top: 10px
	@media screen and (max-width 560px)
		margin-top: 5px
		width 100px
.contacts
	float: right
	text-align right
	@media screen and (max-width 560px)
		line-height: 1
.contact
	display inline-block
	margin-left: 26px
	@media screen and (max-width 560px)
		margin-left: 15px
		&&-tg
			img
				width 20px
		&&-email
			img
				width 25px