footer
	padding 45px 0
	.&-logo
		margin-bottom: 40px
	.&-text
		margin-bottom: 15px
		&-right
			text-align right
		&:last-of-type
			margin-bottom: 0
	.&-hr
		border-top: 3px solid #000
		margin 40px 0
	.&-docs
		display inline-block
		margin-right: 10px
	a
		&:focus
			color #000
			text-decoration none
		&:hover
			color #000
			text-decoration underline