section#main
	.container
		.content
			.row
				.col-md-8
					h1.main-title Как стать востребованным специалистом в области психологии  с помощью “Дизайна человека”?
					.main-info
						p Спикер: Анна Ролева
						p Дата: 11:03:22
					p.main-text Узнай на бесплатном мастер-классе
					+b('', 'button-up', href, 'Зарегистрироваться')
			+imgs('main-img', 'img/images/main.png', 'Главное изображение')