section#unics
	.container
		.content
			+gt('', 'В чем уникальная особенность <br class="mob-none">“Дизайна человека”?')
			ul.unics-list
				li Сочетает в себе древние философские учения и современные инструменты психологии.
				li Позволяет быстро извлечь всю необходимую информацию, для того чтобы эффективно проработать проблемы, которые изнуряют человека долгие годы.
				li Подходит как для личной терапии, так и для работы с клиентом. Самый “экологичный” метод работы с любой проблематикой.
			+b('', 'button-up', href, 'Хочу на мастер-класс')
			+imgs('unics-img', 'img/images/unics.png', 'В чем уникальная особенность “Дизайна человека”?')