section#helps
	.container
		+gt('', 'Как “Дизайн человека” поможет именно тебе?')
		.row
			.col-md-5
				+imgs('helps-img', 'img/images/helps.png', 'Как “Дизайн человека” поможет именно тебе?')
			.col-md-7
				ul.general-list.general-list-1
					li Сможешь понять себя и увидишь свой уникальный путь.
					li Поймешь причины поступков своих близких, их ценности и мотивации, найдешь возможности для выстраивания новых взаимоотношений.
					li Сможешь помогать людям, которые чувствуют что запутались и не могут найти выход в сложившейся ситуации.
		h4.helps-aftertitle Все эти знания помогут тебе стать востребованным специалистом и кратно увеличить свой доход.
		+b('', 'button-up', href, 'Мне это нужно')