section#statistics
	.container
		+gt('', 'Все эти знания помогут тебе стать востребованным специалистом и кратно увеличить свой доход.')
		.row
			.col-md-6.col-md-push-6
				+imgs('statistics-img', 'img/images/stat.png', 'Статистика')
			.col-md-5.col-md-pull-6
				h4.statistics-title Статистика 
				p Дизайн человека показывает уверенный рост в нише психологии. Специалисты по расшифровке карт могут быть уверены в завтрашнем дне.
				+b('button-wtapper-statistics', 'button-up', href, 'Мне это нужно')