section#why
	.container
		+gt('', 'Почему мы уверены что сможем обучить профессионального специалиста?')
		ul.general-list.general-list-3
			li Мы обучаем уже более 8 лет.
			li Обучающий процесс дорабатывается каждый день, на основе обратной связи от студентов.
			li Наши выпускники успешные психологи-консультанты.
			li У нас лучшие преподаватели.