section#author
	.container
		+imgs('author-img', 'img/images/anya.png', 'Ання Ролева')
		.row
			.col-md-7
				h3.author-title Мастер-класс проводит Анна Ролева
				ul.general-list.general-list-2
					li Автор и ведущая тренингов по предназначению (более 6000 выпускников);
					li Автор метода Трансперсональный анализ личности;
					li Регрессолог (погружение в прошлые жизни);
					li Выпускница Open Business School (факультеты маркетинга и менеджмента) / СПбГАТИ (продюсерский факультет);
					li Международный институт Bircham (трансперсональная психология и психотерапия, на английском языке);
					li Международная программа GLT (Grof Legacy Training);
					li Видеоблогер, фотограф, путешественница.
				+b('button-wrapper-author', 'button-white button-up', href, 'Мне это нужно')