section#main
	.container
		.content
			.circle.circle-full.circle-1
			.circle.circle-bordered.circle-2
			.circle.circle-full.circle-3
			.row
				.col-md-5
					.video-wrapper.video-wrapper-main
						iframe(src="https://www.youtube.com/embed/c33eMwoyroo?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
					//- .mobile-hide
					//- 	h3.main-subtitle
					//- 		span Перейдите в Телеграм
					//- 	a.button.button-main(href="https://t.me/+xPfb1rcI7ZY5MTcy") Подписаться 
					//- 		img(src=path+"img/icons/tg-prom.png" alt="Telegram")
				.col-md-7
					.content
						p.main-text
							span У нас к Вам просьба прямо сейчас подписаться на Телеграм.
							br
							| В нем Вы будете получать и напоминания о начале мастер-класса с ссылками на вебинарную комнату
						p.main-text В благодарность за регистрацию на мастер-класс, в Телеграме Вы получите приятный и полезный бонус - 
							span видео-урок "Дизайн человека за 5 минут"
						h3.main-subtitle
							span Перейдите в Телеграм
						a.button.button-main(href="https://shop.mv-centr.ru/index.php?r=form/telegram&id_bot=6") Подписаться 
							img(src=path+"img/icons/tg.png" alt="Telegram")
						//- .desktop-hide
						//- 	h3.main-subtitle
						//- 		span Перейдите в Телеграм
						//- 	a.button.button-main(href="https://shop.mv-centr.ru/index.php?r=form/telegram&id_bot=6") Подписаться 
						//- 		img(src=path+"img/icons/tg-prom.png" alt="Telegram")