section#main
	.container
		.content
			.circle.circle-full.circle-1
			.circle.circle-bordered.circle-2
			.circle.circle-full.circle-3
			.row
				.col-md-8
					p.main-text
						span Спасибо, что вы с нами.
						br
						| Если вы еще не подписались на наш Telegram-канал, то сделайте это прямо сейчас по кнопке ниже
					p.main-text В Telegram мы сразу пришлем ссылку на 
						span вводный урок по "Дизайну человека"
					p.main-text Рекомендуем посмотреть его до начала мастер-класса, вам важно будет подготовиться и прийти на мастер-класс с расчитанной картой, пониманием базовых терминов и понятий из "Дизайна человека".
					h3.main-subtitle
						span Перейдите в Телеграм
					a.button.button-main(href="https://shop.mv-centr.ru/index.php?r=form/telegram&id_bot=6") Подписаться 
						img(src=path+"img/icons/tg.png" alt="Telegram")
					//- .desktop-hide
					//- 	h3.main-subtitle
					//- 		span Перейдите в Телеграм
					//- 	a.button.button-main(href="https://shop.mv-centr.ru/index.php?r=form/telegram&id_bot=6") Подписаться 
					//- 		img(src=path+"img/icons/tg-prom.png" alt="Telegram")