section#main
	.container
		.content
			.row
				.col-md-8
					h1.main-title Как стать востребованным специалистом в области психологии  с помощью “Дизайна человека”?
					.main-info
						p Спикер: Анна Ролева
					+b('', '', href, 'Записаться')
			+imgs('main-img', 'img/images/main.png', 'Главное изображение')