section#queries
	.container
		+gt('', 'Какие запросы можно решить <br class="mob-none">с помощью “Дизайна человека”?')
		.row
			.col-lg-4
				.query-item
					h4.query-item-title Предназначение
					p.query-item-text кем я хочу быть и как найти себя в этом мире.
			.col-lg-4
				.query-item
					h4.query-item-title Отношения
					p.query-item-text как найти свою вторую половину, понять его/её мотивы, причины поступков  и построить гармоничные отношения.
			.col-lg-4
				.query-item
					h4.query-item-title Финансы
					p.query-item-text какие ограничивающие убеждения мешают нам увеличивать свой доход. Как их преодолеть.
		+b('', '', href, 'Узнать подробнее')