section#plan
	.container
		+gt('', 'План курса:')
		ul.nav.nav-tabs.modules-titles(role="tablist")
			li(role="presentation" class="active")
				a(href="#module-1" aria-controls="#module-1" role="tab" data-toggle="tab") Модуль 1
			li(role="presentation")
				a(href="#module-2" aria-controls="#module-2" role="tab" data-toggle="tab") Модуль 2
			li(role="presentation")
				a(href="#module-3" aria-controls="#module-3" role="tab" data-toggle="tab") Модуль 3
			li(role="presentation")
				a(href="#module-vip" aria-controls="#module-vip" role="tab" data-toggle="tab") Модуль VIP
		.tab-content.modules
			.tab-pane.tab-pane.fade.in.active(role="tabpanel")#module-1
				.module.module-1
					h4.module-name
						span Предназначение
					h5.module-price Полная стоимость модуля 
						span - 15 000 рублей.
					.row
						.col-md-6
							ul.module-list
								li Основные метафоры ДЧ
								li Транзиты и глобальные
								li Циклы 4 типа
								li Правый и левый ум
								li Центры
								li Авторитеты
						.col-md-6
							ul.module-list
								li Виды определенности
								li Линии и профили
								li Травмы и реакции
								li Черное и красное
								li Контуры
								li Ворота и каналы
					h6.module-after После прохождения модуля
					ul.general-list.general-list-3.closed
						li Наглядно увидите, как сильно люди отличаются друг от друга
						li Сможете лучше понять не только себя, но и своих близких
						li Поймете свой способ принятия решений
						li Узнайте о самой уязвимой части своей личности и о своих эмоциональных защитах
						li Пересмотрите темы взаимоотношений, какие мотивы управляют вами в этой теме
						li Узнаете, какие аспекты есть в вашей личности, вы увидите их с двух сторон - со стороны «тени» и «дара»
			.tab-pane.tab-pane.fade(role="tabpanel")#module-2
				.module.module-2
					h4.module-name
						span Отношения
					h5.module-price Полная стоимость модуля 
						span - 28 000 рублей.
					.row
						.col-md-6
							ul.module-list
								li Планеты
								li PHS (питание, мотивация и пр.)
								li Дримрейв (сон)
								li Кресты
								li Лунные узлы
						.col-md-6
							ul.module-list
								li Уроки с примерами разбора карт
								li Композит - анализ механики отношений в Дизайне человека
								li Психология отношений
								li Как делать прочтение по отношениям
					h6.module-after После прохождения модуля
					ul.general-list.general-list-3.closed
						li Узнаете о предназначении с точки зрения Дизайна Человека
						li Узнаете о подходящем для вас типе питания с точки зрения ДЧ
						li Научитесь анализировать ночную карту ДЧ
						li У вас будет несколько примеров по сборке карты, что поможет вам начать делать первые прочтения
						li Научитесь анализировать совмещенную карту двух людей, видеть, что их притягивает друг другу, а что отталкивает, какие потенциально могут быть проблемы в паре и как их разрешить
			.tab-pane.tab-pane.fade(role="tabpanel")#module-3
				.module.module-3
					h4.module-name
						span Реализация
					h5.module-price Полная стоимость модуля 
						span - 40 000 рублей.
					.row
						.col-md-6
							ul.module-list
								li Вводный урок по программированию ума
								li Страхи ума, пента и ВА
								li Четверть дуальности
								li Четверть инициации
								li Четверть цивилизации
						.col-md-6
							ul.module-list
								li Четверть мутации
								li Циклы (часть 01)
								li Циклы (часть 02)
								li Бонус - контрпарадокс
								li Примеры прочтения карт по Программированию и по Циклам
					h6.module-after После прохождения модуля
					ul.general-list.general-list-3.closed
						li В вашем арсенале будет 5 различных вариантов по прочтению карты: базовое прочтение, композит, годовой цикл, большой цикл, программирование ума
						li Узнаете Дизайн на самом глубоком уровне, вы будете сильно отличаться от других консультантов на рынке
						li Сможете давать прогнозы по карте ДЧ на год или на несколько лет вперед
						li Сможете анализировать самые глубокие мотивы в поведении человека, сможете помочь разрешить ему внутренние противоречия
			.tab-pane.tab-pane.fade(role="tabpanel")#module-vip
				.module.module-vip
					h5.module-price Полная стоимость модуля 
						span - 99 000 рублей.
					p.module-info Модуль VIP предполагает 
						span продвижение Вас
						|  компанией Master Vision
					ul.module-list
						li 24 урока основных трех  модулей
						li 1-я ступень курса «Генные Ключи» (10 уроков)
							span.module-more подробнее...
							.sublist-info.closed
								h6.sublist-info-title
									span 1-2 урок
									|  – Предназначение
								p.sublist-info-text Разбираем «Последовательность активации». Ваши основные дары и основные препятствия для реализации предназначения. Разбираем «Генные ключи», проходы. Делаем практики, которые позволяют раскрыть свой потенциал
								h6.sublist-info-title
									span 3-4-5 урок
									|  – Отношения
								p.sublist-info-text Разбираем «Последовательность Венеры». Разбираем основные проблемы в отношениях, кармический отношения. Что такое сексуальная травма. Практика на исцеление сексуальности. Наши глубинные детские потребности и как они влияют на отношения. Генетическая травма и реакция на неё – самый основной блок на пути к здоровым отношениям и реализации. Разбираем проходы, соединяющие сферы в карте
								h6.sublist-info-title
									span 6-7-8 урок
									|  – «Генные ключи»
								p.sublist-info-text Разбираем трактовку всех «Генных ключей», делаем практики
								h6.sublist-info-title
									span 9-10 урок
									|  – Социальная реализация, деньги.
								p.sublist-info-text Разбираем «Жемчужную последовательность». Вы узнаете об основных блоках, которые мешают Вам раскрыть денежный поток. Вы узнаете о своём стиле взаимодействия в социуме. Узнаете о своём денежном потенциале, его раскрытии, а также о том, как собирать карту и делать прочтение
						li Курс «Из Теней в Дары» (прошлая и новая версия курса 8 уроков)
						li 2-я ступень Генных Ключей (9 уроков)
							span.module-more подробнее...
							ul.module-sublist.closed
								li Структура личности с позиции ДЧ и ГК
								li Структура сознания с точки зрения интегрального метода COSMOS
								li Трансперсональное сознание
								li Исцеление через трансперсональный опыт
								li Тантра: как входить в это состояние и составлять медитации
								li Медитация: подходы и техники
								li Структура транса
								li Способы вхождения в трансовые состояния
								li Наведение транса
								li Подробный разбор на аналитическом уровне 64 сиддхи ГК
								li Сиддхи-медитация: структура погружения
								li 64 сиддхи-медитаций
						li особое сопровождение в течение вашего обучения
						li домашние задания с проверкой
						li обратная связь
						li чат с кураторами
						li онлайн 1 раз в 2 недели с ответами на вопросы
					h6.module-after Преимущества VIP-обучения
					ul.general-list.general-list-3.closed
						li Раз в две недели для участников VIP-обучения будут проходить отдельные встречи с ответами на вопросы, где мы будем разборы тех или иных настроек в карте
						li Супервизии
		+b('', '', href, 'Записаться')