section#prices
	.container
		+gt('', 'Выбрать свой пакет участия:')
		.row
			.col-md-6
				.packet
					h4.packet-title Модуль 1
						span Предназначение
					ul.general-list.general-list-2
						li 8 уроков
						li домашние задания с проверкой
						li обратная связь
						li чат с кураторами
						li онлайн 1 раз в 2 недели с ответами на вопросы
					.prepayment
						h5.prepayment-title При оплате 1000 рублей на счет вам зачисляются дополнительные 3000 рублей
						p.prepayment-text Таким образом, в счет оплаты курса у вас засчитывается 4000 рублей
						+b('', '', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1280&clean=true&lg=ru', 'Оплатить 1 000р.', '_blank')
			.col-md-6
				.packet
					h4.packet-title Модуль 2
						span Отношения
					ul.general-list.general-list-2
						li 8 уроков МОДУЛЯ 1
						li 8 уроков МОДУЛЯ 2
						li домашние задания с проверкой
						li обратная связь
						li чат с кураторами
						li онлайн 1 раз в 2 недели с ответами на вопросы
					.prepayment
						h5.prepayment-title При оплате 1000 рублей на счет вам зачисляются дополнительные 5000 рублей
						p.prepayment-text Таким образом, в счет оплаты курса у вас засчитывается 6000 рублей
						+b('', '', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1281&clean=true&lg=ru', 'Оплатить 1 000р.', '_blank')
		.row
			.col-md-6
				.packet
					h4.packet-title Модуль 3
						span Реализация
					ul.general-list.general-list-2
						li все 16 уроков 1-го и 2-го МОДУЛЕЙ
						li 8 уроков МОДУЛЯ 3
						li домашние задания с проверкой
						li обратная связь
						li чат с кураторами
						li онлайн 1 раз в 2 недели с ответами на вопросы
					.prepayment
						h5.prepayment-title При оплате 1000 рублей на счет вам зачисляются дополнительные 7000 рублей
						p.prepayment-text Таким образом, в счет оплаты курса у вас засчитывается 8000 рублей
						+b('', '', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1282&clean=true&lg=ru', 'Оплатить 1 000р.', '_blank')
			.col-md-6
				.packet
					h4.packet-title Модуль VIP
					ul.general-list.general-list-2
						li 24 урока основных модулей
						li 1-я ступень курса «Генные Ключи» (10 уроков)
						li Курс «Из Теней в Дары» (прошлая и новая версия курса 8 уроков)
						li 2-я ступень Генных Ключей (9 уроков)
						li особое сопровождение в течение вашего обучения
						li домашние задания с проверкой
						li обратная связь
						li чат с кураторами
						li онлайн 1 раз в 2 недели с ответами на вопросы
					.prepayment
						h5.prepayment-title Акция не предусмотрена!
						+b('', '', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1350&clean=true&lg=ru', 'Оплатить', '_blank')